.faq-policy .accordion-body .faq-policy-0 .title {
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
}
.faq-policy .accordion-body .faq-policy-0 .body{
    font-weight: 400px;
    font-size: 14px;
    line-height: 26px;
}
.faq-policy .accordion-body .faq-policy-1 .title1 {
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
}
.faq-policy .accordion-body .faq-policy-1 .body1{
    font-weight: 400px;
    font-size: 14px;
    line-height: 26px;
}
.faq-policy .accordion-body .faq-policy-2 .title2 {
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
}
.faq-policy .accordion-body .faq-policy-2 .body2{
    font-weight: 400px;
    font-size: 14px;
    line-height: 26px;
}
.faq-policy .accordion-body .faq-policy-3 .title3 {
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
}
.faq-policy .accordion-body .faq-policy-3 .body3{
    font-weight: 400px;
    font-size: 14px;
    line-height: 26px;
}